<div class="row">
  <div class="col-6">
    <div class="row m-2">
      <div class="col-12 mt-4">
        <span><b>String Interpolation</b></span><br>
        <span>The page title is: {{12 + 2}}</span>
      </div>
      <div class="col-12 mt-4">
        <span><b>Two-way Binding</b></span><br>
        <input type="text" [(ngModel)]="title"><br>
        <span>The page title after the change is: {{title}}</span>
      </div>
      <div class="col-12 mt-4">
        <span><b>Property Binding (make this field background color by color entered)</b></span><br>
        <input type="text" [(ngModel)]="color" [style.background-color]="color">
      </div>
      <div class="col-12 mt-4">
        <span><b>Event Binding</b></span><br>
        <input type="text" [(ngModel)]="title">
        <button class="btn btn-info ml-2 btn-sm" (click)="alertTitle()">Alert title</button>
      </div>
      <div class="col-12 mt-4">
        <span><b>Today's date: </b>{{today}}</span>
      </div>
      <div class="col-12 mt-4">
        <span><b>Parameterized Pipe (today | date:'yyyy-mm-dd'):</b> {{today | date:'yyyy-mm-dd'}}</span>
      </div>
      <div class="col-12 mt-4">
        <span><b>Chaining Pipe: </b>{{today | date | uppercase}}</span>
      </div>
      <div class="col-12 mt-4">
        <span><b>Custom Pipe: </b>{{'example of custom pipe' | reverseString}}</span>
      </div>
      <div class="col-12 mt-4">
        <span>TestPageComponent: You have clicked <span class="text-danger"><b>{{clickCounter}}</b></span> times.</span>
      </div>
    </div>
  </div>
  <div class="col-6" style="border-left: 2px solid darkgrey">
    <div class="row m-2">
      <app-test-child [title]="title" (clickCounterEvent)="this.clickCounter = $event"></app-test-child>
    </div>
  </div>
</div>
