@import "../assets/styles/helpers/variables";

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-content {
  flex: 1;
  height: 100%;
  overflow: auto;
  margin-top: $header-height;
  margin-bottom: $footer-height;
}
